
body{
    overflow-x: hidden;
    overflow-y:hidden;
}
.tabButtons{
  position: absolute;
  margin-left:0%;
  width:30%;
  height:100%;
  top:0px;
  left:0px;

}
p{
  text-align: center;
  height:10%;
  max-height: 10%;
  width:95%;
  margin:0px;
  padding:0px;
}
.tab{
    background-color: transparent;
    height:20%;
    width:100%;
    border-radius: 0px;
    border:0px;
    margin:0px;
    left:0px;
}

/**GENERAL styling*/
.general{
  position: absolute;
  visibility: visible;
  margin-left: 30%;
  width: 70%;
  height:100%;
    text-align: left;
}


#autoSaveText{
    position: absolute;
    margin-left: 35%;
    margin-top:10%;
      width:30%;
}
#autoSave{
  position: absolute;
  margin-left: 15%;
  width:22%;
  right:0px;

  left:0px;
  margin-top:10%;
}

.saveOnExit{
  position: absolute;
  margin-left: 15%;
  width:22%;
  right:0px;
  left:0px;
  margin-top:30%;
}

#saveOnExitText{
  position: absolute;
  margin-left: 35%;
  margin-top:30%;
  width:30%;
}

/**shortcut styling*/
.shortcut{
  visibility: hidden;
  position:absolute;
  margin-top:0%;
  margin-left:30%;
  width:68%;
  top:0px;
  height: 100%;
  overflow-y:scroll;


}
.shortcutNames{
  margin-top:5%;
  position:absolute;
  margin:0%;
  height:100%;
  width:50%;
  max-height: 100%;
  float: left;
}

.shortcutButtons{
    margin-top:5%;
  height:100%;
  margin-left:50%;
  position:absolute;
  width:48%;
  margin-top:0px;
  max-height: 100%
  float:right;



}
.shortcutButton{
  width:100%;
  /**note quite sure why its note lining up but this number fixes it*/
  height: 10%;
  max-height: 10%;

  margin:0px;
  padding: 0px;
  border-style: solid;
  border-width: medium;

}


button.tab:{
  border-style: solid;
  border-width: medium;

}

/**STYLE  tab*/
.style{
  position: absolute;
  visibility: hidden;
  margin-left: 30%;
  width:70%;
}
.selectedStyle{
  position: absolute;
  margin-left: 20%;
  margin-top: 20%;
  width:22%;
}
#styleText{
  position: absolute;
  margin-left: 45%;
  margin-top: 20%;
  width:22%;
}
