

body{

  background-color: #00BFFF;
  color:white;

}

.text{
  color:black
}

canvas{
  background-color: white;


}
.song{
    background-color: white;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 100%
}
.song-title{
  text-align:center;
  color:black;
}
header{
  text-align:center;
  color:black;

}

input{

}
button{
  background-color:lavender;
  border-radius: 12px;
  position:relative;
  margin-left: 5%;
  margin-top: 10px;
  width: 100px;

}
