body{

  background-color: #3b3e42;
  color:white;

}

.text{
  color:white;
}

.title{
  position: fixed;
  color:white;
  margin-left:30%;
  width:300px;
  text-align:center;

  height:auto;
  margin-bottom: 5%

}
select{
  margin-left: 80%;
  width:100px;
}
canvas {
    position: relative;
    display: block;

}
.song{
    background-color: black;
    overflow-y:scroll;
    text-align:center;
    overflow-x:hidden;
    border: 5px;
    border-radius: 20px;
    border-color:black;
    height: 500px;
    margin: 0 auto;
    display: block;
}
header{
  text-align:center;
  color:white;

}

select{
  background-color:#00008b;
  border-radius: 12px;
  color: white;
}
button{
  background-color:#00008b;
  border-radius: 12px;
  position:relative;
  margin-left: 5%;
  margin-top: 2%;
  width: 100px;
  color:#808080;
}
s1{
  color:white;
}
.buttons{
  text-align: center;

}
