

body{

  background-color: #00BFFF;
  color:white;

}

.text{
  color:black
}

canvas {
    position: relative;
    display: block;
}
.song{
    background-color: white;
    overflow-y:scroll;
    text-align:center;
    overflow-x:hidden;
    border: 5px;
    border-radius: 20px;
    border-color:black;
    height: 500px;
margin: 0 auto;
display: block;
}
.song-title{
  text-align:center;
  color:black;
}
header{
  text-align:center;
  color:black;

}

input{

}
button{
  background-color:lavender;
  border-radius: 12px;
  position:relative;
  margin-left: 5%;
  margin-top: 2%;
  width: 100px;

}

.buttons{
  text-align: center;
}
