

body{

  background-color: #00BFFF;
  color:white;

}

.text{
  color:black
}

.title{
  position: fixed;
  color:black;
  margin-left:30%;
  width:300px;
  text-align:center;

  height:auto;
  margin-bottom: 5%

}
select{
  margin-left: 80%;
  width:100px;
}
canvas {
    position: relative;
    display: block;

}
.song{
    background-color: white;
    overflow-y:scroll;
    text-align:center;
    overflow-x:hidden;
    border: 5px;
    border-radius: 20px;
    border-color:black;
    height: 500px;
    margin: 0 auto;
    display: block;
}
header{
  text-align:center;
  color:black;

}

input{

}
button{
  background-color:lavender;
  border-radius: 12px;
  position:relative;
  margin-left: 5%;
  margin-top: 2%;
  width: 100px;

}

.buttons{
  text-align: center;
}

/*for preferences page*/
.tabButtons{
  background-color:#606060;
}

button.tab:hover{
  background-color:#707070;
}

button.tab:{
  border-color: white;
}
