select{
  margin-left:20%;
  position: absolute;
  direction: ltr;

}

p{
  border-top-style: solid;
  border-color: black;
  border-top-width: 2px;
  padding-top: 3px;
}


.buttons{
  display: inline;
  margin-left: 2%;
  margin-right: 2.5%;
  margin-top:10%;

}

button{
  margin-left:10%;
  margin-right:5%;
  width:30%;
}
